# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: ea488cebbfd88a5f50b8bd95d5c829d0bb76feb8  # frozen: 26.1.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/isort
    rev: 0a09c783808cfe77bb3269250f663ff733d23302 # frozen: 7.0.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c # frozen: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: https://github.com/google/yamlfmt
    rev: b5ca1890231d5e1e5181fef75a1be609d1e25029 # frozen: v0.21.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/asottile/pyupgrade
    rev: 75992aaa40730136014f34227e0135f63fc951b4 # frozen: v3.21.2
    hooks:
      - id: pyupgrade
        args: [--py39-plus]
  - repo: https://github.com/python-poetry/poetry
    rev: "a84cd0f1bedb5769ef6ef7389d8ee99b93b9ba4c"  # frozen: 2.3.2
    hooks:
      - id: poetry-check
        args: ["--lock"]
