# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 831207fd435b47aeffdf6af853097e64322b4d44 # frozen: 25.12.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/isort
    rev: 0a09c783808cfe77bb3269250f663ff733d23302 # frozen: 7.0.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c # frozen: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: https://github.com/google/yamlfmt
    rev: 884e367e8fae92b238653fd950a54d235d418e4e # frozen: v0.20.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/asottile/pyupgrade
    rev: 75992aaa40730136014f34227e0135f63fc951b4 # frozen: v3.21.2
    hooks:
      - id: pyupgrade
        args: [--py39-plus]
  - repo: https://github.com/python-poetry/poetry
    rev: "b9e5d79fc57de2f2e60973019d56662b7398440b" # frozen: 2.2.1
    hooks:
      - id: poetry-check
        args: ["--lock"]
