sudo: false
language: python
dist: xenial
python:
  - "2.7"
  - "3.5"
  - "3.6"
  - "3.7"

install:
  - pip install tox tox-travis
script: tox
branches:
  except:
    - /^\d/
notifications:
  email:
    - bubenkoff@gmail.com
    - oleg.pidsadnyi@gmail.com
